@import "tailwindcss";
@plugin "@tailwindcss/typography";
@config "../tailwind.config.ts";

#root {
  height: 100dvh;
  width: 100dvw;
}
div.content {
  max-width: 820px;
  margin: 0 auto;
  padding: 0 2rem 2rem;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

nav a {
  border-color: transparent;
  margin-bottom: 4px;
  text-decoration: none;
  transition: border-color 0.25s ease-in-out, padding 0.25s ease-in-out,
    margin 0.25s ease-in-out;
}
a {
  text-decoration: underline;
}
.prose-light a:hover {
  color: #1b6fb4;
}
.prose-dark a:hover {
  color: #4593d3;
}

.prose-lg {
  transition: background-color 0.4s ease-in-out, color 0.4s ease-in-out;
}

nav a.active {
  border-color: inherit;
  padding-bottom: 4px;
  margin-bottom: 0px;
  border-bottom: 1px solid;
}
